<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlockTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84721BA61D0ABA1E007242BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84721BC21D0ABA1F007242BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84721BCD1D0ABA1F007242BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
